header {
    font-family: Open-Sans;
    font-size: 3em;
    max-width: 1600px;
    height: 200px;
    padding: 0px;
    margin: 0 auto;
    background-color: blanchedalmond;
    display: grid;
    grid-template-columns: 150px auto;
}
nav {
    display: flex;
    justify-content: space-around;
    padding: 50px;
}
nav a {
    text-align: center;
    text-decoration: none;
    color: #023e8a;
}
nav a:hover {
    color: #BF393F;
}
#title h1 {
    text-align: center;
    font-size: 4em;
    color: #023e8a;
}
body {
    font-family: sans-serif;
    background-color: #EFECE1;
    padding: 0;
    margin: 0;
}
.resume-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.grid-img {
    width: 400px;
    border: 3px solid #000000;
    margin-bottom: 30px;
    background-color: white;
}
.grid-msg {
    font-size: 1.5em;
    padding: 20px;
    color: #4D427D;
}
.code-img {
    width: 600px;
}
.home-headshot, .exp-BIG5, .accom-EAC {
    justify-self: center;
    grid-column: 1;
    grid-row: 1;
    padding: 20px;
}
.home-code, .exp-ACE, .accom-BYU {
    justify-self: center;
    grid-column: 1;
    grid-row: 2;
    padding: 20px;
}
footer {
    background-color: blanchedalmond;
    color: #396E94;
    padding: 25px 50px;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer p {
    font-size: 1.23em;
}
footer p a:hover {
    color: #BF393F;
    text-decoration: none;
}
footer a {
    color: #396E94;
    text-decoration: none;
}
footer a:hover {
    color: #396E94;
}
footer .social img{
    padding-top: 15px;
}